<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  <section class="skill_form">
    <%= render 'skill_form' %>
  </section>
    <% if @user.skills.any? %>
      <h3>Skills</h3>
      <ol class="skills">
        <%= render @skills, counts: @counts %>
      </ol>
      <%= will_paginate @skills %>
    <% end %>
  </div>
</div>