<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "internship app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      	<li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Settings", edit_me_path %></li>
        <li><%= link_to "Logout", me_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Login", new_me_session_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>